<div class="form">
<form id="form1" name="form1" method="post" action="#">
  <p>Propietarios</p>
  <p>
    <label>RFC
    <input name="RFC" type="text" id="RFC" minlength=13 maxlength=13 required/>
    </label>
  </p>
  <p>
    <label>CURP
    <input name="CURP" type="text" id="CURP" minlength=18 maxlength=18 required/>
    </label>
  </p>
  <p>
    <label>Nombre
    <input name="nombre" type="text" id="nombre" required/>
    </label>
  </p>
  <p>
    <label>Direcci&oacute;n
    <input name="direccion" type="text" id="direccion" required/>
    </label>
</p>
  <p>
    <label>
    <input type="submit" name="Submit" value="Submit" />
    </label>
  </p>
</form>
</div>