<div class="form">
<form id="form1" name="form1" method="post" action="#">
  <label>ID Tenencia
  <input name="idTenencia" type="number" disabled="disabled" id="idTenencia" value="0"/>
  </label>
  <p>
    <label>Vehiculo
    <input name="vehiculo" type="text" id="vehiculo" required/>
    </label>
  </p>
  <p>
    <label>Año
    <input name="anio" type="number" id="anio" min="1900" max="2099" step="1" value="2019" required/>
    </label>
  </p>
  <p>
    <label>Monto
    <input name="monto" type="number" id="monto" step=".01" required/>
    </label>
    </p>
  <p>
    <label>
    <input type="submit" name="Submit" value="Submit" />
    </label>
  </p>
</form>
</div>