<div class="form">
<form id="form1" name="form1" method="post" action="#">
  <p>
    <label>Vehículo
    <input name="vehiculo" type="text" id="vehiculo" required/>
    </label>
  </p>
  <p>
    <label>Fecha
    <input name="fecha" type="date" id="fecha" required/>
    </label><label></label>
  </p>
  <p>Periodo</p>
  <p>
    <label>
<input type="radio" name="periodo" value="1" /> 
1</label>
    <br />
    <label>
    <input type="radio" name="periodo" value="2" />
2</label>
  </p>
  <p>Dictamen</p>
  <p>
    <label>
    <input type="radio" name="dictamen" value="1" />
Aprobado</label>
    <br />
    <label>
    <input type="radio" name="dictamen" value="0" />
Reprobado</label>
  </p>
  <p><br />
    <label>
    <input type="submit" name="Submit" value="Submit" />
    </label>
  </p>
</form>
</div>