<div class="navBar">
    <div class="navBar__logo">

    </div>
    <div class="navBar__list">
        <ul>
            <li>Conductores</li>
            <li><a href="index.php?view=menu&aux=fconductores">Alta Conductores</a></li>
            <li>Propietarios</li>
            <li><a href="index.php?view=menu&aux=">Alta Propietarios</a></li>
            <li>Licencias</li>
            <li><a href="index.php?view=menu&aux=flicencias">Alta Licencias</a></li>
            <li>Vehiculos</li>
            <li><a href="index.php?view=menu&aux=">Alta Vehiculos</a></li>
            <li>Tenencias</li>
            <li><a href="index.php?view=menu&aux=">Alta Tenencias</a></li>
            <li>Verificaciones</li>
            <li><a href="index.php?view=menu&aux=">Alta Verificaciones</a></li>
            <li>Multas</li>
            <li><a href="index.php?view=menu&aux=">Alta Multas</a></li>
        </ul>
    </div>
    <div class="navBar__logout">
        <a href="index.php?view=close">Cerrar</a>
    </div>
</div>