<div class="navBar">
    <div class="navBar__logo">

    </div>
    <div class="navBar__list">
        <ul>
            <li>Conductores</li>
            <li><a href="index.php?view=menu&aux=fconductores">Alta Conductores</a></li>
            <li><a href="index.php?view=menu&aux=fcconductores">Consultar Conductores</a></li>
            <li><a href="index.php?view=menu&aux=feconductores">Eliminar Conductor</a></li>
            <li>Propietarios</li>
            <li><a href="index.php?view=menu&aux=fpropietarios">Alta Propietarios</a></li>
            <li><a href="index.php?view=menu&aux=fcpropietarios">Consultar Propietarios</a></li>
            <li><a href="index.php?view=menu&aux=fepropietarios">Eliminar Propietario</a></li>
            <li>Licencias</li>
            <li><a href="index.php?view=menu&aux=flicencias">Alta Licencias</a></li>
            <li><a href="index.php?view=menu&aux=fclicencias">Consultar Licencias</a></li>
            <li><a href="index.php?view=menu&aux=felicencias">Eliminar Licencia</a></li>
            <li><a href="index.php?view=menu&aux=fpdfLicencias">Generar PDF Licencia</a></li>
            <li>Vehiculos</li>
            <li><a href="index.php?view=menu&aux=fvehiculo">Alta Vehículos</a></li>
            <li><a href="index.php?view=menu&aux=fcvehiculo">Consultar Vehículos</a></li>
            <li><a href="index.php?view=menu&aux=fevehiculo">Eliminar Vehículo</a></li>
            <li><a href="index.php?view=menu&aux=fpdfConductores">Generar PDF Circulacion</a></li>
            <li>Tenencias</li>
            <li><a href="index.php?view=menu&aux=ftenencia">Alta Tenencias</a></li>
            <li><a href="index.php?view=menu&aux=fctenencia">Consultar Tenencias</a></li>
            <li><a href="index.php?view=menu&aux=fetenencia">Eliminar Tenencias</a></li>
            <li>Verificaciones</li>
            <li><a href="index.php?view=menu&aux=fverificacion">Alta Verificaciones</a></li>
            <li><a href="index.php?view=menu&aux=fcverificacion">Consultar Verificaciones</a></li>
            <li><a href="index.php?view=menu&aux=feverificacion">Eliminar Verificaciones</a></li>
            <li>Multas</li>
            <li><a href="index.php?view=menu&aux=fmultas">Alta Multas</a></li>
            <li><a href="index.php?view=menu&aux=fcmultas">Consultar Multas</a></li>
            <li><a href="index.php?view=menu&aux=femultas">Eliminar Multa</a></li>
        </ul>
    </div>
    <div class="navBar__logout">
        <a href="index.php?view=close">Cerrar</a>
    </div>
</div>