<div class="navBar">
    <div class="navBar__logo">
        <h1>Controlazo Vehicular</h1>
    </div>
    <div class="navBar__list">
        <button class="navBar__cat" onclick="hide(this)">Conductores</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fconductores">Alta Conductores</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fcconductores">Consultar Conductores</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=feconductores">Eliminar Conductor</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Propietarios</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fpropietarios">Alta Propietarios</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fcpropietarios">Consultar Propietarios</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fepropietarios">Eliminar Propietario</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Licencias</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=flicencias">Alta Licencias</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fclicencias">Consultar Licencias</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=felicencias">Eliminar Licencia</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fpdfLicencias">Generar PDF Licencia</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Vehiculos</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fvehiculo">Alta Vehículos</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fcvehiculo">Consultar Vehículos</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fevehiculo">Eliminar Vehículo</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fpdfConductores">Generar PDF Circulacion</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Tenencias</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=ftenencia">Alta Tenencias</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fctenencia">Consultar Tenencias</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fetenencia">Eliminar Tenencias</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Verificaciones</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fverificacion">Alta Verificaciones</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fcverificacion">Consultar Verificaciones</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=feverificacion">Eliminar Verificaciones</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fpdfVerificaciones">Generar PDF Verificacion</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Multas</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fmultas">Alta Multas</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fcmultas">Consultar Multas</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=femultas">Eliminar Multa</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fpdfMulta">Generar PDF Multa</a>
        </div>
    </div>
    <div class="navBar__logout">
        <a href="index.php?view=close">Cerrar sesión</a>
    </div>
</div>